@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Comfortaa);
@import url(https://fonts.googleapis.com/css?family=Exo);
@import url(https://fonts.googleapis.com/css?family=Cairo);
@import url(https://fonts.googleapis.com/css?family=Pontano+Sans);

body {
    margin-top: 40px;
    padding-left: 4%;
    padding-right: 4%;
    font-family: "Raleway";
    font-size: 16px;
}

label {
    margin-top: 16px;
    margin-bottom: 16px;
}

table {
    margin-top: 20px;
}

a {
    color: #004BCD
}

h2 {
    margin-top: 20px;
}

#more-text {
    display: none;
}